[Unit]
Description = ni ni@kafka.service
Requires=ni@zookeeper.service
After=ni@zookeeper.service

[Service]
Type = simple
User = {{ ansible_user }}
ExecStart=/home/{{ ansible_user }}/kafka/bin/kafka-server-start.sh /home/{{ ansible_user }}/kafka/config/server.properties
ExecStop=/home/{{ ansible_user }}/kafka/bin/kafka-server-stop.sh
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = kafka
Restart = on-abnormal

[Install]
WantedBy = multi-user.target
