[Unit]
Description = ni ni@collectd.service

[Service]
ExecStartPre = /bin/sleep 20
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
Environment=PATH=/home/{{ ansible_user }}/collectd_env/bin:$PATH
ExecStart = {{ COLLECTD_DIR }}/sbin/collectd -f -C {{ COLLECTD_DIR }}/etc/collectd.conf -P {{ COLLECTD_DIR }}/var/run/collectd.pid
{% if SLACK_HOOK_URL is defined %}
ExecStopPost = /usr/bin/curl -X POST --data-urlencode "payload={\"channel\": \"#error_notification\", \"username\": \"ni_bot\", \"text\": \"collectd service in {{ inventory_hostname  }} is stopped\"}" {{ SLACK_HOOK_URL }}
{% endif %}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=collectd


[Install]
WantedBy = multi-user.target
