[Unit]
Description = ni ni@{{ SERVICE_MODULE }}.service
StartLimitInterval=60
StartLimitBurst=3

[Service]
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
Environment=PATH=/home/{{ ansible_user }}/ni_mano/.env/bin:$PATH
WorkingDirectory=/home/{{ ansible_user }}/ni_mano
ExecStart = /home/{{ ansible_user }}/ni_mano/.env/bin/python3 -m {{ SERVICE_MODULE }}
{% if SLACK_HOOK_URL is defined %}
ExecStopPost = /usr/bin/curl -X POST --data-urlencode "payload={\"channel\": \"#error_notification\", \"username\": \"ni_bot\", \"text\": \"{{ SERVICE_MODULE }} service in {{ inventory_hostname  }} is stopped\"}" {{ SLACK_HOOK_URL }}
{% endif %}
User = {{ ansible_user }}

Restart=on-failure
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ SERVICE_MODULE }}

[Install]
WantedBy = multi-user.target
