kafka_producer:
  bootstrap.servers: {{ KAFKA_SERVER_ADDR }}:9092
  queue.buffering.max.messages: 500000
  queue.buffering.max.ms: 1000
  batch.num.messages: 100
  api.version.request: True

influxdb:
  server: {{ INFLUXDB_SERVER_ADDR }}
  database: ni
