[Unit]
Description = ni ni@kafdrop.service

[Service]
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
ExecStart = /usr/bin/java -jar /home/{{ ansible_user }}/kafdrop/kafdrop.jar --kafka.brokerConnect={{ KAFKA_SERVER_ADDR }}:9092
{% if SLACK_HOOK_URL is defined %}
ExecStopPost = /usr/bin/curl -X POST --data-urlencode "payload={\"channel\": \"#error_notification\", \"username\": \"ni_bot\", \"text\": \"kafdrop service in {{ inventory_hostname  }} is stopped\"}" {{ SLACK_HOOK_URL }}
{% endif %}
User = {{ ansible_user }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kafdrop

[Install]
WantedBy = multi-user.target
